@import '../variables';
@import '../mixins';

.phone {
    @include flexbox($direction: column, $alignContent: center);
    position: relative;
    margin-top: 2rem;
    height: 631px;
    width: 307px;
    outline: 2px solid $grey-600;
    border: 2px solid $grey-600;
    border-radius: 2rem;
    outline-offset: 10px;
    $width: 50%;

    &:after {
        content: '';
        height: 30px;
        width: $width;
        border: 2px solid $grey-600;
        border-top: none;
        position: absolute;
        top: 0;
        left: calc(50% - $width/2);
        border-radius: 0 0 25px 25px;
    }

    &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: calc((50% - $width/2) + 2px);
        height: 2px;
        width: calc($width - 4px);
        background-color: white;
    }
}

.phone__avatar {
    height: 96px;
    margin: 53px auto 0 auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $skeleton;
}

.phone__placeholder {
    $width: 160px;
    $height: 16px;
    width: $width;
    height: $height;
    margin: 25px auto 0 auto;
    border-radius: 104px;
    background-color: $skeleton;

    &.phone__placeholder_small {
        width: calc($width/2);
        height: calc($height/2);
        margin: 13px auto 56px auto;
    }
}

.phone__link {
    margin-inline: auto;
    width: 237px;
    height: 44px;
    background-color: $skeleton;
    border-radius: 8px;
    margin-top: 20px;
}

.skeleton {
    @include skeleton-animation;
}
