@import '../../_variables.scss';

.typography {
    margin: 0;
    line-height: 150%;
}

.typography-fz-sm {
    font-size: 12px;
}

.typography-fz-md {
    font-size: 16px;
}

.typography-fz-lg {
    font-size: 32px;
}


.typography-fw-400 {
    font-weight: 400;
}

.typography-fw-600 {
    font-weight: 600;
}

.typography-fw-700 {
    font-weight: 700;
}

.typography-clr-purple-600 {
    color: $purple-600;
}
.typography-clr-purple-400 {
    color: $purple-400;
}
.typography-clr-purple-300 {
    color: $purple-300;
}
.typography-clr-black {
    color: $black;
}
.typography-clr-grey-600 {
    color: $grey-600;
}
.typography-clr-grey-400 {
    color: $grey-400;
}
.typography-clr-grey-300 {
    color: $grey-300;
}
.typography-clr-white {
    color: $white;
}
.typography-clr-red {
    color: $red;
}

.typography-align-center {
    text-align: center;
}

.typography-align-left {
    text-align: left;
}

.typography-align-right {
    text-align: right;
}
