@import 'variables';

:root {
    --clr-purple-600: #{$purple-600};
    --clr-purple-400: #{$purple-400};
    --clr-purple-300: #{$purple-300};
    --clr-black: #{$black};
    --clr-grey-600: #{$grey-600};
    --clr-grey-400: #{$grey-400};
    --clr-grey-300: #{$grey-300};
    --clr-white: #{$white};
    --clr-red: #{$red};
}

body {
    margin: 0;
    background-color: #{$grey-300};
}



