@use 'variables';

@font-face {
    font-family: #{variables.$font-family};
    font-style: normal;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap')
        format('woff');
}
