// color vars

$purple-300: #efebff;
$purple-600: #633cff;
$purple-400: #beadff;
$black: #333333;
$grey-600: #737373;
$grey-400: #d9d9d9;
$grey-300: #fafafa;
$white: #ffffff;
$red: #ff3939;
$skeleton: #eeeeee;

$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 2.6s;

// font vars

$font-family: 'Instrument Sans Bold', sans-serif;

// entity vars

$container-width: 1352px;

// button

$button-padding-inline: 27px;
$button-padding-block: 11px;
$button-text-color: #{$white};
$button-border-radius: 8px;

// phone

$phone-upper-shape-height: 1rem;
$phone-upper-shape-width: 50%;
$phone-upper-radius-width: 30px;
$phone-lower-shape-width: calc($phone-upper-shape-width - (20px));
